
#todo-list h1 {
  font-size: 1.2rem;
}

.todo-list-item > .mdc-text-field {
  width: 100%;
}

.todo-list-item > .mdc-text-field > input {
  padding: 0;
}

.todo-list-item-fns {
  display: none;
  outline: 0;
}

.todo-list-item-fns > i:first-child {
  margin-right: 6px;
}

.todo-list-item:hover > .mdc-text-field > .todo-list-item-fns {
  display: block;
}

.todo-list-drag-over .todo-list-item > .mdc-text-field > .todo-list-item-fns {
  display: none;
}

#todo-name {
  margin-bottom: 10px;
}

#todo-name > input {
  padding: 16px;
}

#todo-details > textarea {
  min-height: 68vh;
}
